<!DOCTYPE html>
<html>

<head>
  <title>Coder Pinterest</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag asset_path('android-chrome-192x192.png') %>
  <%= favicon_link_tag asset_path('android-chrome-512x512.png') %>
  <%= favicon_link_tag asset_path('apple-touch-icon.png') %>
  <%= favicon_link_tag asset_path('favicon-16x16.png') %>
  <%= favicon_link_tag asset_path('favicon-32x32.png') %>
</head>

<body>
  <div class="container">
    <% if session[:user_id] %>
    <div class="user-greeting pull-right">
      <h3>
        Hi, <%= current_user.first_name %>!
      </h3>
    </div>
    <% end  %>
    <%= yield %>
  </div>
</body>

</html>