<!DOCTYPE html>
<html>

<head>
  <title>Coder Pinterest</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag asset_path('android-chrome-192x192.png') %>
  <%= favicon_link_tag asset_path('android-chrome-512x512.png') %>
  <%= favicon_link_tag asset_path('apple-touch-icon.png') %>
  <%= favicon_link_tag asset_path('favicon-16x16.png') %>
  <%= favicon_link_tag asset_path('favicon-32x32.png') %>
</head>

<body>
  <div class="container">

    <% if logged_in? %>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle pull-right" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%= current_user.first_name %>
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <% current_user.boards.each do |board| %>
        <a class="dropdown-item">
          <%= link_to "#{board.name}", "/boards/#{board.id}" %>
        </a>
        <% end %>
        <li role="presentation" class="divider"></li>
        <a class="dropdown-item">
          <%= link_to "Add a Pin", "/pins/new" %>
        </a>
        <a class="dropdown-item">
          <%= link_to "Add a Board", "/boards/new" %>
        </a>
        <li role="presentation" class="divider"></li>
        <a class="dropdown-item">
          <%= link_to "Home", "/" %>
        </a>
        <a class="dropdown-item">
          <%= link_to 'Logout', logout_path(current_user), method: :delete %>
        </a>
      </div>
    </div>
    <% end  %>

    <%= yield %>
  </div>
</body>

</html>